<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel ="icon" href="./img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        
        <div class="main-content">
            {{>header}}
            <p> U need help, someone is here for u  <a href="https://www.google.com">visit</a></p>
        </div>
        
        {{>footer}}
    </body>
</html>